<h2>Actualización de contraseña exitosa</h2>

<p>Tu contraseña se ha actualizado exitosamente</p>

<a asp-action="InicioSesion" asp-controller="Usuario" class="btn btn-primary">Regresar al inicio de sesión</a>