

<hr />
<h2>Ha sido enviada una contraseña temporal para tí.</h2>

<p>Revisa tu correo electrónico para obtener la nueva contraseña temporal.</p>
<p>No olvides actualizar tu contraseña al iniciar sesión</p>

<a asp-action="InicioSesion" class="btn btn-primary">Iniciar sesión</a>