<h2>Pago de servicio exitoso</h2>

<p>El pago de servicio se ha realizado con éxito.</p>

<a asp-action="ResumenCuenta" asp-controller="Cuentas" class="btn btn-primary">Volver al resumen de cuenta</a>
