@model BANCO.Models.Movimiento
@{
    ViewData["Title"] = "PagoServicio";
}

<h2>Pago de servicios</h2>
<br />

@using (Html.BeginForm("PagoServicio", "Cuentas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="IdCuenta">Cuenta:</label>
        @Html.DropDownListFor(model => model.IdCuenta, new SelectList(ViewBag.Cuentas, "Id", "Numero"), "Seleccione una cuenta", new { @class = "form-control" })
        @*<select id="IdCuenta" name="IdCuenta" class="form-control">
        </select>*@
    </div>

    <div class="form-group">
        <label for="Monto">Monto:</label>
        <input type="number" id="Monto" name="Monto" class="form-control" required />
    </div>

    <div>
        <label asp-for="TipoServicio"></label>
        @Html.DropDownList(
         "TipoServicio",Html.GetEnumSelectList<Tipo_PagoServicio>(),
         "Servicio",
         new{@class = "form-control"})
    </div>
    <div>
        <hr>
        <button type="submit" class="btn btn-primary">Realizar pago</button>
    </div>
   
}
