<div>
    <form class="row g-3" method="get" action="">
        <div class="col-md-3">
            <label>Buscar por número de cuenta:</label>
            <input type="text" class="form-control" name="idCuenta" maxlength="12" />
        </div>
        <div class="col-md-3">
            <br />
            <input type="submit" value="Buscar" />
        </div>
    </form>
</div>

